---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: "Septiembre 2022",
        title: "Encargado tecnico",
        description:
            "Encargado de consultoria tecnologica, manejo de datos, excel y hosting web",
        link: "https://empresasparadigma.cl/",
    },
    {
        date: "Septiembre 2021",
        title: "Global Game Jam - Participante",
        description:
            "Desarollo de un juego con tematica especifica en tiempo limite, trabajo en equipo",
        link: "",
    },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        EXPERIENCE.map((experience) => (
            <li>
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
