<header class="justify-center items-center py-5 xl:w-[1120px] mx-auto md:flex">
    <nav
        class="flex flex-row mx-auto gap-x-6 sm:gap-x-12 opacity-85 text-3sm text-purple-300 font-bold"
    >
        <a href="#experience">Experience</a>
        <a href="#">About me</a>
        <a href="#projects">Projects</a>
        <a href="#">Contact</a>
    </nav>
</header>
